<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer id="footer">
	
  <div class="f_logo"><img src="./assets/resource/img/f_logo.png" alt=""></div>

  <div class="box">
    <div class="list flex">
      <div class="item"><%- include('../../../../dist/assets/resource/svg/company.svg'); %></div>
      <div class="item"><div class="bar"></div></div>
      <div class="item"><%- include('../../../../dist/assets/resource/svg/privacy.svg'); %></div>
    </div>
    <div class="copy"><%- include('../../../../dist/assets/resource/svg/copy.svg'); %></div>
  </div>
  
</footer>
