@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section
*
-------------------------------------------------------------------------------- */
.section {
  
  // height: 100vh;
  height: 730px;
  
  position: relative;
  z-index: 2;
  
  
  
}

.contents {
  transform: translate3d(0,0,0);
}

.canvasWrap {
  position: fixed;
  left: 0;
  top: 0;
}