@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section02
*
-------------------------------------------------------------------------------- */
.section02 {
  display: flex;
  background: #fff;
  align-items: center;
  
  .block {
    width: 940px;
    margin: 0 auto;
    
    .subTit {
      margin-bottom: 18px;
    }
    .tit {
      margin-bottom: 65px;
    }

    .text {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 2.09px;
      line-height: 2.0625;
      width: 300px;
    }
  }

  .img {
    position: absolute;
    right: 50%;
    margin-right: -310px;
    transform: translateX(50%);
    top: 0;
    
    height: 100%;
    width: auto;
    
    img {
      height: 100%;
      width: auto;
    }
  }
}