/* --------------------------------------------------------------------------------
*
*   header
*
-------------------------------------------------------------------------------- */
#header {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
  z-index: 5;
  // transform: translate3d(0,0,0);

  .inner {
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    
    .menu {
      .item {
        margin-right: 40px;
        
        cursor: pointer;
      }
    }
  }
}