<!-- ************************************************************
//  section03
// ************************************************************ -->
<div class="section section03">

  <div class="bg"></div>
  
  <div class="block">
    <div class="tit"><%- include('../../../../dist/assets/resource/svg/CASE.svg'); %></div>
    <div class="text text01">人工統計モデル</div>
    <div class="text text02">
      人工統計を元に世界地図に対してデータを<br>
      マッピングしたビジュアライゼーション事例
    </div>
    <div class="more">
      <div class="bar"></div>
      <div class="moretext"><%- include('../../../../dist/assets/resource/svg/more.svg'); %></div>
    </div>
  </div>
    
</div>