<!-- ************************************************************
//  section05
// ************************************************************ -->
<div class="section section05">
  
  <div class="block">
    <div class="tit"><%- include('../../../../dist/assets/resource/svg/CONTACT.svg'); %></div>
    <div class="text text01">お問い合わせ</div>
    <div class="text text02">
      試験的な取り組みも可能です。実績のご紹介や具体的なご提案などさせていただきますのでお問い合わせください。
    </div>
    <div class="more">
      <div class="bar"></div>
      <div class="moretext"><%- include('../../../../dist/assets/resource/svg/more.svg'); %></div>
    </div>
  </div>

  <div class="block"></div>
  
</div>