<!-- ************************************************************
//  section04
// ************************************************************ -->
<div class="section section04">
  
  <div class="block">
    <div class="tit"></div>
    <div class="text"></div>
  </div>

  <div class="block">
    <div class="list flex">
      <div class="item">
        <div class="img"></div>
        <div class="text"></div>
      </div>
      <div class="item">
        <div class="img"></div>
        <div class="text"></div>
      </div>
      <div class="item">
        <div class="img"></div>
        <div class="text"></div>
      </div>
    </div>
  </div>
  
</div>