<!-- ************************************************************
//  section02
// ************************************************************ -->
<div class="section section02">
	
  <div class="block">
    <div class="subTit"><%- include('../../../../dist/assets/resource/svg/ABOUT.svg'); %></div>
    <div class="tit"><%- include('../../../../dist/assets/resource/svg/DATADESIGN.svg'); %></div>
    <div class="text">
      我々がこれまで蓄積したデザインナレッジを活用し、膨大なデータを活用したデータビジュアライゼーション領域におけるインタラクションデザインとエンジニアリングにより新たなDATA DESIGNを実現します。
      経済、金融、統計データなどの情報を元にしたビジュアル・体験コンテンツの企画やタッチデバイスを活用したインタラクティブコンテンツのの開発を行います。
    </div>
  </div>

  <!-- <div class="img"><img src="./assets/resource/img/about.png" alt=""></div> -->
  <!-- <div class="img"><img src="./assets/resource/img/about_blur2.png" alt=""></div> -->
  <div class="img"><img src="./assets/resource/img/about_blur3.png" alt=""></div>
  <!-- <div class="img"><img src="./assets/resource/img/about_blur.png" alt=""></div> -->
  
</div>