<!-- ************************************************************
//  section04
// ************************************************************ -->
<div class="section section04">
  
  <div class="block">
    <div class="tit"><%- include('../../../../dist/assets/resource/svg/SOLUTION.svg'); %></div>
    <div class="text">
      現段階で開発可能なソリューションとして3分野に特化したビジュアライゼーション開発を行いなっております。試験的な取り組みや研究開発として共同開発することも可能です。
    </div>
  </div>

  <div class="block">
    <div class="list flex">
      <div class="item">
        <div class="img"></div>
        <div class="text">
          経済情報や統計情報を活用した<br>
          データビジュアライゼーション
        </div>
      </div>
      <div class="item">
        <div class="img"></div>
        <div class="text">
          株価や金丹生情報と連動する<br>
          ビジュアル表現
        </div>
      </div>
      <div class="item">
        <div class="img"></div>
        <div class="text">
          タッチパネルやサイネージを活用した<br>
          インタラクションデザイン
        </div>
      </div>
    </div>
  </div>
  
</div>