<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">
	
  <div class="tit"><%- include('../../../../dist/assets/resource/svg/tit.svg'); %></div>

  <div class="scroll">
    <div class="bar"></div>
    <div class="text"><%- include('../../../../dist/assets/resource/svg/scroll.svg'); %></div>
  </div>
</div>